.workout-card {
  text-align: left;
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:2em;
  margin-top:10em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dash {
  text-align: center;
  height:100%;
  position: relative;
}

.ex-info {
  text-align: left;
  margin-top: .5em;
}

.ex {
  margin-top:1.5em;
  margin-left:0.1em;
}

.exercise {
  outline: 1;
}

#ei-button {
  float: right;
  margin-top: 1em;
}

.ReactModal__Overlay{
  overflow-y: scroll;
}

.app-bars {
  position: absolute;
  width:100%;
}

.today {
  height:100%;
  width: 100%;
  position: absolute;
}

#tooltip {
  position:absolute;
  bottom:0;
  right:0;
  margin:1em;
}

#tooltip-2 {
  position:absolute;
  bottom:0;
  right:5em;
  margin:1em;
}

.nw-modal {
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  padding:1em;
  margin:1em;
  overflow-y: scroll;
  z-index: 1;
}

.confirm {
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  width: 200px;
  height: 125px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -100px;
  margin-top: -75px;
}

.nw-work {
  overflow-y: scroll;
}

.logo {
  max-width: 100px;
  margin: 0.5em;
}

#tab {
  flex-grow: 1;
}