.weekday-workout-card {
  text-align: left;
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:2em;
  margin-top:1em;
  width:70%;
  max-width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.today-workout-card {
  width:70%;
  text-align: left;
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:2em;
  margin-top:9em;
  max-width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.day-card {
  text-align: left;
  width:100%;
  background-color: #F2F2F2;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.user-card {
  text-align: left;
  padding: 1em;
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:2em;
  margin-top:3em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.inline {
  display: inline;
}

.mg-small {
  margin: 2px;
}

.weekday {
  height:100%;
  width: 100%;
  text-align: center;
}

.dash {
  text-align: center;
  height:100%;
  width: 100%;
  position: relative;
}

.ex-info {
  text-align: left;
  margin-top: .5em;
}

.ex {
  margin-top:1.5em;
  margin-left:0.1em;
}

.exercise {
  outline: 1;
}

#ei-button {
  float: right;
  margin-top: 1em;
}

.ReactModal__Overlay{
  z-index: 2;
  overflow-y: scroll;
}

.today-app-bars {
  position: absolute;
  z-index: 1;
  width:100%;
}

.log {
  max-width: 8em;
  margin-right: 2em;
}

.week-app-bars {
  z-index: 1;
  width:100%;
}

.today {
  height:100%;
  width: 100%;
  position: absolute;
}

.week {
  height:100%;
  width: 100%;
  position: absolute;
}

#today-tooltip {
  float:right;
  margin:1em;
}

#weekday-tooltip {
  float:right;
  margin:1em;
}

#today-tooltip-2 {
  float:right;
  margin:1em;
}

#weekday-tooltip-2 {
  float:right;
  margin:1em;
}

.avatar {
  vertical-align: middle;
  border-radius: 75%;
  text-align: center;
}

#logout-button {
  float:left;
  margin:1em;
  margin-top:2em;
}

.ReactModal__Content {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
}

.nw-modal {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  padding:1em;
  overflow-y: scroll;
  z-index: 1;
}

.ue-modal {
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  padding:1em;
  margin:auto;
  overflow-y: scroll;
  margin-top: 100px;
  z-index: 1;
  max-width: 250px;
}

#weinfo {
  display: inline;
}

.confirm {
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  width: 200px;
  height: 125px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -100px;
  margin-top: -75px;
}

.logo {
  max-width: 100px;
  margin: 0.5em;
}

#tab {
  flex-grow: 1;
}