.workout {
  text-align: left;
  padding: 1em;
}

.dash {
  text-align: center;
  height:100%;
}

.ex-info {
  text-align: left;
  margin-top: .5em;
}

.ex {
  margin-top:1.5em;
  margin-left:0.1em;
}

.exercise {
  outline: 1;
}

#ei-button {
  float: right;
  margin-top: 1em;
}

.today {
  height:100%;
}

#tooltip {
  position:absolute;
  bottom:0;
  right:0;
  margin:1em;
}

.nw-modal {
  background-color: #F2F2F2;
  border-radius: .5em;
  outline:0;
  text-align: center;
  padding:1em;
  margin:1em;
  overflow-y: scroll;
}

.t-container {
  height:100%;
  position: relative;
}

.card {
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#tab {
  flex-grow: 1;
}