.signin {
  text-align: center;
  padding: 1em;
}

.signup {
  text-align: center;
  padding: 1em;
}

.modal {
  text-align: center;
  margin: 5em;
  padding: 1em;
  outline:none;
}

#button {
  margin: 1em;
}

.card {
  background-color: #F2F2F2;
  border-radius: .5em;
  display: inline-block;
  margin:3em;
}

.container {
  text-align: center;
  background:#2196f3;
  height: 100%;
}
